<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="/css/reset.css"> <!-- CSS reset -->
    <link rel="stylesheet" href="/css/style.css"> <!-- Resource style -->
    <link rel="stylesheet" href="/css/demo.css"> <!-- Demo style -->
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/amazeui.css">
    <link rel="stylesheet" type="text/css" href="/css/barrager.css" />
    <link rel="stylesheet" type="text/css" href="/css/pick-a-color-1.2.3.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/css/shCoreDefault.css" />
    <link href="css/default.css" type="text/css" rel="stylesheet">
    <title>login</title>
</head>
<body>


<div class="cd-signin-modal js-signin-modal"> <!-- this is the entire modal form, including the background -->
    <div class="cd-signin-modal__container"> <!-- this is the container wrapper -->
        <ul class="cd-signin-modal__switcher js-signin-modal-switcher js-signin-modal-trigger">
            <li><a href="#0" data-signin="login" data-type="login">登 陆</a></li>
            <li><a href="#0" data-signin="signup" data-type="signup">注 册</a></li>
        </ul>

        <div class="cd-signin-modal__block js-signin-modal-block" data-type="login"> <!-- log in form -->
            <form class="cd-signin-modal__form" th:action="@{/login}" method="post">
                <p class="cd-signin-modal__fieldset">
                    <label class="cd-signin-modal__label cd-signin-modal__label--username cd-signin-modal__label--image-replace" for="signup-username">用户名</label>
                    <input name="username" class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding cd-signin-modal__input--has-border" id="signin-username" type="text" placeholder="用户名">
                </p>

                <p class="cd-signin-modal__fieldset">
                    <label class="cd-signin-modal__label cd-signin-modal__label--password cd-signin-modal__label--image-replace" for="signin-password">密码</label>
                    <input name="password"  class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding cd-signin-modal__input--has-border" id="signin-password" type="text" placeholder="密码">
                    <a href="#0" class="cd-signin-modal__hide-password js-hide-password">Hide</a>
                    <span class="cd-signin-modal__error">Error message here!</span>
                </p>

                <p class="cd-signin-modal__fieldset">
                    <input name="captcha"  class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding cd-signin-modal__input--has-border"
                        style="width: 50%"   id="signin-capture" type="text" >

                <a class="cd-signin-modal__hide-password" style="border-left: none" onclick="refreshCaptcha()">
                    <img  th:src="@{/kaptcha.jpg}" title="点击切换" id="kaptcha-img"/></a>
                </p>

                <p class="cd-signin-modal__fieldset">
                    <input type="checkbox" id="remember-me" name="rememberMe"  class="cd-signin-modal__input ">
                    <label for="remember-me">Remember me</label>     <span style="display: inline-block; padding: 0 2em; background-color: #da5067;border-radius: 50em;font-size: 14px; color: #fff;" th:if="${msg}" th:utext="${msg}"></span>
                </p>

                <p class="cd-signin-modal__fieldset">
                    <input class="cd-signin-modal__input cd-signin-modal__input--full-width" type="submit"  value="登录">
                </p>
            </form>
            <p class="cd-signin-modal__bottom-message js-signin-modal-trigger"><a href="#0" data-signin="reset">Forgot your password?</a></p>
        </div>

        <div class="cd-signin-modal__block js-signin-modal-block" data-type="signup"> <!-- sign up form -->
            <form class="cd-signin-modal__form" th:action="@{/signin}" method="post">
                <p class="cd-signin-modal__fieldset">
                    <label class="cd-signin-modal__label cd-signin-modal__label--username cd-signin-modal__label--image-replace" for="signup-username">用户名</label>
                    <input name="username" class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding cd-signin-modal__input--has-border" id="signup-username" type="text" placeholder="用户名">
                    <span class="cd-signin-modal__error">Error message here!</span>
                </p>

                <p class="cd-signin-modal__fieldset">
                    <label class="cd-signin-modal__label cd-signin-modal__label--email cd-signin-modal__label--image-replace" for="signup-email">邮箱</label>
                    <input name="email" class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding cd-signin-modal__input--has-border" id="signup-email" type="email" placeholder="E-mail">
                    <span class="cd-signin-modal__error">Error message here!</span>
                </p>

                <p class="cd-signin-modal__fieldset">
                    <label class="cd-signin-modal__label cd-signin-modal__label--password cd-signin-modal__label--image-replace" for="signup-password">密码</label>
                    <input  name="password" class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding cd-signin-modal__input--has-border" id="signup-password" type="text"  placeholder="密码">
                    <a href="#0" class="cd-signin-modal__hide-password js-hide-password">Hide</a>
                    <span class="cd-signin-modal__error">Error message here!</span>
                </p>

                <p class="cd-signin-modal__fieldset">
                    <input type="checkbox" id="accept-terms" class="cd-signin-modal__input ">
                    <label for="accept-terms">我同意 <a href="#0">协议</a></label>
                </p>

              <!--  <p class="cd-signin-modal__fieldset">
                    <input class="cd-signin-modal__input cd-signin-modal__input&#45;&#45;full-width cd-signin-modal__input&#45;&#45;has-padding" type="button" id="signout" value="Create account">
                </p>-->

                <p class="cd-signin-modal__fieldset">
                    <input class="cd-signin-modal__input cd-signin-modal__input--full-width" id="signout" type="submit"  value="注册">
                </p>
            </form>
        </div> <!-- cd-signin-modal__block -->

        <div class="cd-signin-modal__block js-signin-modal-block" data-type="reset"> <!-- reset password form -->
            <p class="cd-signin-modal__message">忘记了密码？请找管理员黑仔。。</p>
            <form class="cd-signin-modal__form">
                <p class="cd-signin-modal__fieldset">
                    <label class="cd-signin-modal__label cd-signin-modal__label--email cd-signin-modal__label--image-replace" for="reset-email">邮箱</label>
                    <input class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding cd-signin-modal__input--has-border" id="reset-email" type="email" placeholder="E-mail">
                    <span class="cd-signin-modal__error">Error message here!</span>
                </p>

                <p class="cd-signin-modal__fieldset">
                    <input class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding" type="submit" value="Reset password">
                </p>
            </form>
            <p class="cd-signin-modal__bottom-message js-signin-modal-trigger" style="bottom:-30px "><a href="#0" data-signin="login">Back to log-in</a></p>
        </div> <!-- cd-signin-modal__block -->
        <a href="#0" class="cd-signin-modal__close js-close">Close</a>
    </div> <!-- cd-signin-modal__container -->
</div> <!-- cd-signin-modal -->
<div id="mainDiv">
    <div id="content">
       <!-- <nav class="cd-main-nav js-main-nav" style="position:absolute">
            <ul class="cd-main-nav__list js-signin-modal-trigger">
                <li><a class="cd-main-nav__item cd-main-nav__item&#45;&#45;signup" href="#0" data-signin="login" id="login_in">Sign in</a></li>
                <li><a class="cd-main-nav__item cd-main-nav__item&#45;&#45;signup" href="#0" data-signin="signup" id="login_up">Sign up</a></li>
            </ul>
        </nav>-->
        <div id="code">
            <input type="hidden"  id="once">
            <span class="comments">五月半夏,</span><br />
            <br />
            <span class="comments">当时间写下一千九百三一首我们相爱的十四行诗,</span><br />
            <br />
            <span class="comments">当群鸽衔起长裙，景风打开幸福之门，</span><br />
            <br />
            <span class="comments">我们终于走向彼此。</span><br />
            <br />
            <span class="comments">在这鸢萝花开，知更鸣诗的日子，</span><br />
            <br />
            <span class="comments">我们以<span class="keyword">爱</span>之名结发为夫妻。</span><br />
        </div>
        <div id="loveHeart">
            <nav class="cd-main-nav js-main-nav" style="position:absolute ; right: 0px;top: 20px;">
                <ul class="cd-main-nav__list js-signin-modal-trigger">
                    <li><a class="cd-main-nav__item cd-main-nav__item--signup" href="#0" data-signin="login" id="login_in">登陆</a></li>
                    <li><a class="cd-main-nav__item cd-main-nav__item--signup" href="#0" data-signin="signup" id="login_up">注册</a></li>
                </ul>
            </nav>
            <canvas id="garden"></canvas>
            <div id="words">
                <div id="messages">
                    heizai, I have fallen in love with you for
                    <div id="elapseClock"></div>
                </div>
                <div id="loveu">
                    Love u forever and ever.<br/>
                    <div class="signature">- ruanguosong</div>
                </div>
            </div>
        </div>
    </div>
    <div id="copyright">
        Copyright © 2018 <a >song&mei</a>
    </div>
</div>

<script src="/js/placeholders.min.js"></script> <!-- polyfill for the HTML5 placeholder attribute -->
<script src="/js/main.js"></script> <!-- Resource JavaScript -->
<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/amazeui.min.js"></script>
<script type="text/javascript" src="/js/jquery.barrager.js"></script>
<script type="text/javascript" src="/js/tinycolor-0.9.15.min.js"></script>
<script type="text/javascript" src="/js/pick-a-color-1.2.3.min.js"></script>
<script type="text/javascript" src="/js/shCore.js"></script>
<script type="text/javascript" src="/js/shBrushJScript.js"></script>
<script type="text/javascript" src="/js/shBrushPhp.js"></script>
<script type="text/javascript" src="/js/garden_dev.js"></script>
<script type="text/javascript" src="/js/functions_dev.js"></script>
<script type="text/javascript">
    var offsetX = $("#loveHeart").width() / 2;
    var offsetY = $("#loveHeart").height() / 2 - 55;
    var together = new Date();
    together.setFullYear(2013, 1, 14);
    together.setHours(24);
    together.setMinutes(0);
    together.setSeconds(0);
    together.setMilliseconds(0);

    if (!document.createElement('canvas').getContext) {
        var msg = document.createElement("div");
        msg.id = "errorMsg";
        msg.innerHTML = "Your browser doesn't support HTML5!<br/>Recommend use Chrome 14+/IE 9+/Firefox 7+/Safari 4+";
        document.body.appendChild(msg);
        $("#code").css("display", "none")
        $("#copyright").css("position", "absolute");
        $("#copyright").css("bottom", "10px");
        document.execCommand("stop");
    } else {
        setTimeout(function () {
            startHeartAnimation();
        }, 5000);

        timeElapse(together);
        setInterval(function () {
            timeElapse(together);
        }, 500);

        adjustCodePosition();
        $("#code").typewriter();

    }
</script>
<script>
   $(function(){
        var _signin=function () {
          //  $("#login_in").click();
            document.getElementById("login_in").click();
        }
        setTimeout(_signin,25000)

        //全屏
        console.log(document.documentElement.clientHeight )
        SyntaxHighlighter.all();
        $(".pick-a-color").pickAColor();
        var item={'img':'img/heisenberg.png','href':'http://www.baidu.com','info':'这个是第一条弹幕'};
        //$('#barrager-code').val(barrager_code.format(default_item));
        $('body').barrager(item);
        //每条弹幕发送间隔
        var looper_time=3*1000;
        //是否首次执行
        var run_once=true;
        // do_barrager();
        function do_barrager(){
            if(run_once ){
                //如果是首次执行,则设置一个定时器,并且把首次执行置为false
                looper=setInterval(do_barrager,looper_time);
                run_once=false;
            }
        }

    });


</script>
</body>
</html>